<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.admin.analysis.mapper.AnalysisStatisticsMapper">
    <select id="generateAnalysisStatistics" parameterType="map" resultType="com.example.admin.analysis.dto.DayAnalysis">
    WITH FILTER AS (
    SELECT *
        FROM TB_API_LOGS
        WHERE CREATE_DT BETWEEN TO_DATE(#{startDate} || ' 00:00:00', 'YYYY-MM-DD HH24:MI:SS')
            AND TO_DATE(#{endDate} || ' 23:59:59', 'YYYY-MM-DD HH24:MI:SS'))
        SELECT
        TO_CHAR(CREATE_DT, 'YYYY-MM-DD') AS createDt,
        RESULT_CODE,
        COUNT(RESULT_CODE) AS codeCount
        FROM FILTER
        GROUP BY CREATE_DT, RESULT_CODE
    </select>
</mapper>