<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.admin.repository.mapper.analysis.AnalysisStatisticsMapper">
    <insert id="insertApiLogs" parameterType="com.example.admin.domain.entity.analysis.ApiLogs">
        INSERT INTO TB_API_LOGS (CREATE_DT, SEQ, BAN_UNPAID_YN_CODE, HTTP_STATUS, CUST_GRD_CD, RESULT_CODE, API_RESULT, AMOUNT,REQ_TIME, RSP_TIME, OPERATOR_USER_TOKEN, API_TYPE, SEQ_ID, AUTH_TRANSACTION_ID, MERCHANT_NAME, CORRELATION_ID, ISSUER_ID)
        VALUES (#{createDt}, #{seq}, #{banUnpaidYnCode}, #{httpStatus}, #{custGrdCd}, #{resultCode}, #{apiResult}, #{amount},#{reqTime}, #{rspTime}, #{operatorUserToken}, #{apiType}, #{seqId}, #{authTransactionId}, #{merchantName}, #{correlationId}, #{issuerId})
    </insert>

    <insert id="insertLogAnalysis" parameterType="com.example.admin.domain.entity.analysis.DayAnalysis">
        INSERT INTO TB_LOG_ANALYSIS (CREATE_DT, RESULT_CODE, CODE_COUNT,DCB)
        VALUES (#{createDt}, #{resultCode}, #{codeCount}, #{dcb})
    </insert>

    <select id="generateAnalysisStatistics" parameterType="map" resultType="com.example.admin.domain.entity.analysis.DayAnalysis">
    WITH FILTER AS (
    SELECT *
        FROM TB_API_LOGS
        WHERE 1 = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND CREATE_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')
        </if>
    )
        SELECT
        CREATE_DT,
        RESULT_CODE,
        COUNT(*) AS codeCount

        FROM FILTER
        GROUP BY CREATE_DT, RESULT_CODE
    </select>

    <select id="getAnalysisStatisticsList" parameterType="map" resultType="com.example.admin.domain.entity.analysis.DayAnalysis">
        SELECT * FROM TB_LOG_ANALYSIS
        WHERE 1 = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND CREATE_DT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d') AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
        </if>
        <if test="codeName != null and codeName != ''">
            AND RESULT_CODE LIKE CONCAT('%', #{codeName}, '%')
        </if>
    </select>
</mapper>