<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.seller.mapper.AdmSellerInfoMapper">
    <select id="searchSellers" parameterType="map" resultType="com.example.admin.seller.dto.AdmSeller">
        SELECT
            MERCHANT_NM AS sellerName,
            MERCHANT_CONTACT AS sellerContact,
            STD_DT,
            BLOCK_YN,
            REG_DT,
            UPD_DT,
            UPD_ID,
            BLOCK_DT,
            BLOCK_ID
            FROM TB_ADM_MERCHANT_INFO
        WHERE 1 = 1
        <if test="sellerName != null and sellerName != ''">
            AND MERCHANT_NM LIKE '%' || #{sellerName} || '%'
        </if>
        <if test="startDate != null and endDate != null">
            AND STD_DT BETWEEN TO_DATE(#{startDate}, '%Y%m%d') AND TO_DATE(#{endDate}, '%Y%m%d')
        </if>
    </select>

    <update id="blockSeller" parameterType="Map">
        UPDATE TB_ADM_MERCHANT_INFO
        SET BLOCK_YN = 'Y',
            UPD_DT = SYSDATE,
            BLOCK_DT = SYSDATE,
            UPD_ID = #{updId},
            BLOCK_ID = #{blockId}
        WHERE MERCHANT_NM IN
        <foreach item="sellerName" collection="sellerNames" open="(" separator="," close=")">
            #{sellerName}
        </foreach>
    </update>
</mapper>