<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.stats_day.mapper.StatsDayMapper">
    <select id="getStatsDayList" parameterType="map" resultMap="dayPaymentResultMap">
        SELECT
            TO_CHAR(CREATE_DT, 'YYYY-MM-DD') AS stat_day,
            SUM(CASE WHEN API_TYPE = #{api_type1} THEN AMOUNT ELSE 0 END) AS b_stat,
            SUM(CASE WHEN API_TYPE = #{api_type2} THEN AMOUNT ELSE 0 END) AS d_stat,
            SUM(CASE WHEN API_TYPE = #{api_type3} THEN AMOUNT ELSE 0 END) AS f_stat,
            SUM(CASE WHEN API_TYPE = #{api_type1} THEN 1 ELSE 0 END) AS i_stat,
            SUM(CASE WHEN API_TYPE = #{api_type2} THEN 1 ELSE 0 END) AS k_stat,
            SUM(CASE WHEN API_TYPE = #{api_type3} THEN 1 ELSE 0 END) AS m_stat
        FROM TB_API_LOGS
        WHERE TO_CHAR(CREATE_DT, 'YYYY-MM-DD') = #{date}
        GROUP BY TO_CHAR(CREATE_DT, 'YYYY-MM-DD')
    </select>

    <resultMap id="dayPaymentResultMap" type="com.example.admin.stats_day.dto.StatsDay">
        <result column="STAT_DAY" property="stat_day"/>
        <result column="A_STAT" property="a_stat"/>
        <result column="B_STAT" property="b_stat"/>
        <result column="C_STAT" property="c_stat"/>
        <result column="D_STAT" property="d_stat"/>
        <result column="E_STAT" property="e_stat"/>
        <result column="F_STAT" property="f_stat"/>
        <result column="G_STAT" property="g_stat"/>
        <result column="H_STAT" property="h_stat"/>
        <result column="I_STAT" property="i_stat"/>
        <result column="J_STAT" property="j_stat"/>
        <result column="K_STAT" property="k_stat"/>
        <result column="L_STAT" property="l_stat"/>
        <result column="M_STAT" property="m_stat"/>
        <result column="N_STAT" property="n_stat"/>
        <result column="P_STAT" property="p_stat"/>
        <result column="R_STAT" property="r_stat"/>
        <result column="T_STAT" property="t_stat"/>
    </resultMap>
</mapper>