<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.reconcile.mapper.ReconcileMapper">
    <select id="getGDCBReconcileList" parameterType="map" resultType="com.example.admin.reconcile.dto.Reconcile">
        SELECT
        SUBSTR(A.YEAR_MONTH, 1, 4) || '-' || SUBSTR(A.YEAR_MONTH, 5, 2) AS yearMonth,
        B.CODE_VALUE AS fileType,
        A.FILE_CD AS fileCode,
        A.FILE_NAME AS fileName,
        A.FILE_PATH AS filePath,
        C.CODE_VALUE AS result,
        TO_CHAR(CREATE_DT, 'YYYY-MM-DD') AS createDt,
        TO_CHAR(UPDATE_DT, 'YYYY-MM-DD') AS updateDt
        FROM TB_CREATE_FILE_INFO A
        LEFT JOIN TB_CODE B ON B.CODE_GUBUN = 'FILE_NAME' AND A.FILE_TYPE = B.CODE
        LEFT JOIN TB_CODE C ON C.CODE_GUBUN = 'CR_RESULT' AND A.RESULT = C.CODE
        INNER JOIN TB_CODE D ON D.CODE_GUBUN = 'DOWN_YN' AND A.FILE_TYPE = D.CODE AND D.CODE_VALUE = 'Y'
        WHERE A.YEAR_MONTH = #{yearMonth}
        <if test="fileType != null and fileType != ''">
            AND B.CODE_VALUE = #{fileType}
        </if>
        ORDER BY C.CODE_GUBUN, C.CODE
    </select>

    <select id="getGDCBReconcileFile" parameterType="map" resultType="String">
        SELECT
        A.FILE_PATH || '/' || A.FILE_NAME AS fullPath
        FROM TB_CREATE_FILE_INFO A
        LEFT JOIN TB_CODE B ON B.CODE_GUBUN = 'FILE_NAME' AND A.FILE_TYPE = B.CODE
        WHERE 1 = 1
        <if test="fileName != null and fileName != ''">
            AND A.FILE_NAME = #{fileName}
        </if>
        <if test="fileType != null and fileType != ''">
            AND B.CODE_VALUE = #{fileType}
        </if>
        AND A.YEAR_MONTH = REPLACE(#{yearMonth}, '-', '')
    </select>

    <select id="selectBuyInvoice" parameterType="map" resultType="com.example.admin.reconcile.dto.GDCBMonthlyInvoiceSum">
        SELECT
        TRANSACTION_TYPE,
        REVS_CATEGORY,
        SUM(CNT) AS transactionCnt,
        SUM(ITEM_PRICE_SUM) AS itemPriceSum,
        SUM(TAX_SUM) AS taxSum,
        SUM(TOTAL_AMOUNT_SUM) AS totalAmountSum,
        SUM(REVS_IN_INVOICED_CURRENCY_SUM) AS revsInInvoicedCurrencySum
        FROM TB_MONTHLY_INVOICE_SUM
        WHERE 1 = 1
        <if test="paymentType != null and paymentType != ''">
        AND PAYMENT_TYPE = #{paymentType}
        </if>
        AND YEAR = #{year}
        AND MONTH = #{month}
        AND TRANSACTION_TYPE = 'B'
        GROUP BY TRANSACTION_TYPE, REVS_CATEGORY
    </select>

    <select id="selectRefundInvoice" parameterType="map" resultType="com.example.admin.reconcile.dto.GDCBMonthlyInvoiceSum">
        SELECT
        TRANSACTION_TYPE,
        REVS_CATEGORY,
        SUM(CNT) AS transactionCnt,
        SUM(ITEM_PRICE_SUM) AS itemPriceSum,
        SUM(TAX_SUM) AS taxSum,
        SUM(TOTAL_AMOUNT_SUM) AS totalAmountSum,
        SUM(REVS_IN_INVOICED_CURRENCY_SUM) AS revsInInvoicedCurrencySum
        FROM TB_MONTHLY_INVOICE_SUM
        WHERE 1 = 1
        <if test="paymentType != null and paymentType != ''">
            AND PAYMENT_TYPE = #{paymentType}
        </if>
        AND YEAR = #{year}
        AND MONTH = #{month}
        AND TRANSACTION_TYPE = 'R'
        GROUP BY TRANSACTION_TYPE, REVS_CATEGORY
    </select>

    <select id="selectGoogleSummary" parameterType="map" resultType="com.example.admin.reconcile.dto.GoogleMonthlyInvoiceSum">
        SELECT
            YEAR,
            MONTH,
            REVS_CATEGORY,
            SUM(ITEM_PRICE_SUM) AS itemPriceSum,
            SUM(TAX_SUM) AS taxSum,
            SUM(TOTAL_AMOUNT_SUM) AS totalAmountSum,
            SUM(REV_SHARE_SUM) AS revShareSum
        FROM G_MONTHLY_INVOICE_SUM
        WHERE YEAR = #{year}
        AND MONTH = #{month}
        GROUP BY YEAR, MONTH, REVS_CATEGORY
    </select>
</mapper>