<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.member.mapper.RefreshTokenMapper">
    <insert id="insertRefreshToken" parameterType="map">
        INSERT INTO REFRESH_TOKEN(USER_NAME, REFRESH_TOKEN)
        VALUES (#{username}, #{refreshToken})
    </insert>

    <select id="selectRefreshTokenById" parameterType="String">
        SELECT REFRESH_TOKEN
        FROM REFRESH_TOKEN
        WHERE USER_NAME = #{username}
    </select>

    <select id="deleteRefreshTokenById" parameterType="String">
        DELETE FROM REFRESH_TOKEN
        WHERE USER_NAME = #{username}
    </select>
</mapper>