<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.repository.mapper.reconcil.ReconcilMapper">
    <insert id="insertReconcil" parameterType="com.example.admin.domain.dto.reconcil.InsertReconcilDto">
        INSERT INTO TB_TRANSACTION_FILE(CREATE_DATE, FILE_TYPE, RECONCIL_ID, FILE_NAME, RESULT_CODE, START_DATE, END_DATE, DCB)
        VALUES (#{createDate}, #{fileType}, #{reconcilId}, #{fileName}, #{resultCode}, #{startDate}, #{endDate}, #{dcb})
    </insert>

    <select id="getReconcilList" parameterType="map" resultType="com.example.admin.domain.entity.reconcil.Reconcil">
        SELECT * FROM TB_TRANSACTION_FILE
        WHERE FILE_TYPE = #{fileType}
        AND STR_TO_DATE(CREATE_DATE, '%Y-%m-%d')
            BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d')
            AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
        AND DCB = #{dcb}
    </select>
</mapper>