<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mms_history.mapper.MmsSendMapper">
    <select id="selectMmsHistoryList" parameterType="map" resultType="com.example.admin.mms_history.dto.MmsHistoryDto">
        SELECT
            TO_CHAR(CREATE_DT, 'YYYY-MM-DD HH24:MI:SS') AS createDt,
            TO_CTN AS ctn,
            CORRELATION_ID AS uniqueKey,
            CONTENT AS content,
            SEND_RESULT AS sendResult
        FROM TB_MMS_SEND_HIS
        WHERE
            PARTITION_ID IN (TO_NUMBER(SUBSTR(#{startDate}, 6, 2)), TO_NUMBER(SUBSTR(#{endDate}, 6, 2)))
          AND CREATE_DT BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
            AND TO_CTN = #{ctn}
        ORDER BY CREATE_DT DESC
    </select>
</mapper>