<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.mms_history.mapper.MmsSendMapper">
    <select id="selectMmsHistoryList" parameterType="map" resultType="com.example.admin.mms_history.dto.MmsHistoryDto">
        SELECT
            CREATE_DT createDt,
            TO_CTN ctn,
            CONTENT content,
            SEND_RESULT sendResult
        FROM TB_MMS_SEND_HIS
        WHERE 1 = 1
        <if test="ctn != null and ctn != ''">
            AND TO_CTN = #{ctn}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND CREATE_DT BETWEEN #{startDate} AND #{endDate}
        </if>
    </select>
</mapper>