<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.voc.mapper.VocMapper">
    <select id="selectSmsmoListByCtn" parameterType="map" resultType="com.example.admin.voc.dto.SmsInfoDto">
        SELECT
        GOOGLE_USER_TOKEN googleUserToken,
        OPERATOR_USER_TOKEN operatorUserToken,
        OUT_EXPIRE_TIME expireTime,
        TO_CHAR(UPDATE_DT, 'YYYY-MM-DD') updateDT,
        TO_CHAR(CREATE_DT, 'YYYY-MM-DD') createDT
        FROM TB_SMSMO_INFO
        WHERE CTN = #{ctn}
    </select>

    <select id="selectProvisioningListByCtn" parameterType="map"
            resultType="com.example.admin.voc.dto.ProvisionInfoDto">
        SELECT
        SUB_NO subNo,
        ISPROVISIONED isProvisioned,
        OPERATOR_USER_TOKEN operatorUserToken,
        TO_CHAR(UPDATE_DT, 'YYYY-MM-DD') updateDT,
        TO_CHAR(CREATE_DT, 'YYYY-MM-DD') createDT
        FROM TB_PROVISIONING_INFO
        WHERE CTN = #{ctn}
    </select>
</mapper>