<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.repository.mapper.schedule_manage.ScheduleManageMapper">
    <select id="getSchedulerStatus" resultType="com.example.admin.domain.dto.schedule_manage.GetScheduleManageResponse">
        SELECT
            scheduler,
            server1,
            server2,
            last_modifier AS lastModifier,
            last_modified_date AS lastModifiedDate
        FROM
            TB_SCHEDULER_STATUS
    </select>

    <update id="updateSchedulerStatus" parameterType="com.example.admin.domain.dto.schedule_manage.ModifyScheduleManageRequest">
        UPDATE
            TB_SCHEDULER_STATUS
        SET
            server1 = #{server1},
            server2 = #{server2},
            last_modifier = #{modifier},
            last_modified_date = now()
        WHERE
            scheduler = #{scheduler}
    </update>
</mapper>