<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.scheduler.mapper.ScheduleManageMapper">
    <select id="getSchedulerStatus" resultType="com.example.admin.scheduler.dto.GetScheduleManageResponse">
        SELECT
            SCHEDULER,
            SERVER1,
            SERVER2,
            LAST_MODIFIER AS lastModifier,
            LAST_MODIFIED_DATE AS lastModifiedDate
        FROM
            TB_SCHEDULE_MANAGE
    </select>

    <update id="updateSchedulerStatus" parameterType="com.example.admin.scheduler.dto.ModifyScheduleManageRequest">
        UPDATE
            TB_SCHEDULE_MANAGE
        SET
            SERVER1 = #{server1},
            SERVER2 = #{server2},
            LAST_MODIFIER = #{modifier},
            LAST_MODIFIED_DATE = SYSDATE
        WHERE
            SCHEDULER = #{scheduler}
    </update>
</mapper>