<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.admin.repository.mapper.reconcile.sdcb.BillingHistoryMapper">
    <insert id="insertBillingHistory" parameterType="com.example.admin.domain.entity.reconcile.sdcb.BillingHistory">
        INSERT INTO TB_SDCB_COMPARE_RESULT(REQUEST_ID, COMPARE_MONTH, EVENT_TIME, CASE_CODE, TRANSACTION_ID, STATUS_CODE, TOT_AMT, CTN, SUB_NO, ACT_TYPE)
        VALUES (#{requestId}, #{compareMonth}, #{eventTime}, #{caseCode}, #{transactionId}, #{statusCode}, #{totAmt}, #{cnt}, #{subNo}, #{actType})
    </insert>

    <select id="selectBillingHistoryError" parameterType="map" resultType="">

    </select>
</mapper>