<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.repository.mapper.item.AdminItemSalesMapper">
    <insert id="insertMonthPayment" parameterType="com.example.admin.domain.entity.payment.MonthPayment">
        INSERT INTO TB_ADM_ITEM_SALES(ITEMSALES_NM, MERCHANT_NM, STD_DT, BLOCK_YN, CRE_DT, UPD_DT, UPD_ID, BLOCK_DT, BLOCK_ID)
        VALUES (#{itemsalesNm}, #{merchantNm}, #{stdDt}, #{blockYn}, #{creDt}, #{updDt}, #{updId}, #{blockDt}, #{blockId})
    </insert>


    <select id="existsItem" parameterType="String" resultType="com.example.admin.domain.entity.payment.MonthPayment">
        SELECT COUNT(*) FROM TB_ADM_ITEM_SALES
        WHERE ITEMSALES_NM = #{itemsalesNm}
    </select>

    <select id="getAllAdminItemSales" parameterType="map" resultType="com.example.admin.domain.entity.item.AdminItemSales">
        SELECT *
        FROM TB_ADM_ITEM_SALES
        ORDER BY STD_DT
            LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>