<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.repository.mapper.item.ItemStatsMonthlyMapper">
    <insert id="insertItemStatMonth" parameterType="com.example.admin.domain.entity.item.ItemMonthStat">
        INSERT INTO TB_ITEM_STATS_MONTHLY(YEAR, MONTH, MERCHANT_NAME, ITEM_NAME, SUM_ITEM_PRICE, SUM_TAX, SUM_TOTAL)
        VALUES (#{year}, #{month}, #{merchantName}, #{itemName}, #{sumItemPrice}, #{sumTax}, #{sumTotal})
    </insert>


    <select id="selectItemMonthStat" parameterType="String" resultType="com.example.admin.domain.entity.item.ItemMonthStat">
        SELECT * FROM TB_ITEM_STATS_MONTHLY
        WHERE 1=1
        <if test="merchantName != null and merchantName != ''">
            AND MERCHANT_NAME LIKE CONCAT('%', #{merchantName}, '%')
        </if>
        <if test="itemName != null and itemName != ''">
            AND ITEM_NAME LIKE CONCAT('%', #{itemName}, '%')
        </if>
    </select>

    <select id="getAllAdminItemSales" parameterType="map" resultType="com.example.admin.domain.entity.item.ItemMonthStat">
        SELECT *
        FROM TB_ITEM_STATS_MONTHLY
        ORDER BY ITEM_NAME
            LIMIT #{pageSize} OFFSET #{offset}
    </select>
</mapper>
