<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.block.product.mapper.BlockProductMapper">
    <insert id="insertBlockProduct" parameterType="com.example.admin.block.product.dto.InsertBlockProductDto">
        INSERT INTO TB_BLOCK_ITEM(ITEM_NO, ITEM_NM, REG_DT, REG_ID)
        VALUES (SEQ_TB_BLOCK_ITEM.NEXTVAL, #{product}, SYSDATE, #{mbrId})
    </insert>

    <select id="getBlockProductList" parameterType="map" resultType="com.example.admin.block.product.dto.BlockProductDto">
        SELECT * FROM TB_BLOCK_ITEM
        WHERE 1 = 1
        <if test="product != null and product != ''">
        AND ITEM_NM LIKE '%' || #{product} || '%'
        </if>
        ORDER BY ITEM_NM
    </select>

    <delete id="deleteBlockProduct" parameterType="java.util.List">
        DELETE FROM TB_BLOCK_ITEM
        WHERE ITEM_NO IN
        <foreach item="productNo" collection="productNos" open="(" separator="," close=")">
            #{productNo}
        </foreach>
    </delete>
</mapper>