<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.block.ctn.mapper.BlockCtnMapper">
    <insert id="insertBlockCtn" parameterType="com.example.admin.block.ctn.dto.InsertBlockCtnDto">
        INSERT INTO TB_BLOCK_CTN(CTN, REG_DT, REG_ID)
        VALUES (#{ctn}, SYSDATE, #{mbrId})
    </insert>

    <select id="existsCtn" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS IS_DUPLICATE
        FROM TB_BLOCK_CTN
        WHERE CTN = #{ctn}
    </select>

    <select id="getAllBlockCtn" parameterType="map" resultType="com.example.admin.block.ctn.dto.BlockCtnDto">
    SELECT *
        FROM TB_BLOCK_CTN
        ORDER BY REG_DT DESC
    </select>

    <delete id="deleteBlockCtn" parameterType="java.util.List">
        DELETE FROM TB_BLOCK_CTN
        WHERE CTN IN
        <foreach item="ctn" collection="ctns" open="(" separator="," close=")">
            #{ctn}
        </foreach>
    </delete>
</mapper>