<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.block.ctn.mapper.BlockCtnMapper">
    <insert id="insertBlockCtn" parameterType="com.example.admin.block.ctn.dto.InsertBlockCtnDto">
        INSERT INTO TB_BLOCK_CTN(CTN, REG_DT, MBR_ID, DCB)
        VALUES (#{ctn}, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s'), #{mbrId}, #{dcb})
    </insert>

    <select id="existsCtn" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM TB_BLOCK_CTN
        WHERE CTN = #{ctn}
    </select>

    <select id="getAllBlockCtn" parameterType="map" resultType="com.example.admin.block.ctn.dto.BlockCtnDto">
    SELECT *
        FROM TB_BLOCK_CTN
        WHERE DCB = #{dcb}
        ORDER BY REG_DT
    </select>

    <select id="countBlockCtn">
        SELECT COUNT(*)
        FROM TB_BLOCK_CTN;
    </select>

    <delete id="deleteBlockCtn" parameterType="map">
        DELETE FROM TB_BLOCK_CTN
        WHERE CTN = #{ctn} AND DCB = #{dcb}
    </delete>
</mapper>