<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.block.fee_type.mapper.BlockFeeTypeMapper">
    <insert id="insertBlockFeeType" parameterType="com.example.admin.block.fee_type.dto.InsertBlockFeeTypeDto">
        INSERT INTO TB_BLOCK_FEE_TYPE(FEE_TYPE_CD, REG_DT, REG_ID, FEE_TYPE_NM)
        VALUES (#{feeTypeCode}, SYSDATE, #{mbrId}, #{feeTypeName})
    </insert>

    <select id="existsFeeType" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS IS_DUPLICATE
        FROM TB_BLOCK_FEE_TYPE
        WHERE FEE_TYPE_CD = #{feeTypeCode}
    </select>

    <select id="getAllBlockFeeType" resultType="com.example.admin.block.fee_type.dto.BlockFeeTypeDto">
        SELECT FEE_TYPE_CD AS feeTypeCode, REG_DT, REG_ID, FEE_TYPE_NM AS feeTypeName
        FROM TB_BLOCK_FEE_TYPE
        ORDER BY REG_DT
    </select>

    <delete id="deleteBlockFeeType" parameterType="String">
        DELETE FROM TB_BLOCK_FEE_TYPE
        WHERE FEE_TYPE_CD = #{feeTypeCd}
    </delete>
</mapper>