<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.product.mapper.ProductInfoMapper">
    <select id="getAllProductInfo" parameterType="map" resultType="com.example.admin.product.dto.ProductInfo">
        SELECT ITEMSALES_NM AS productName,
               MERCHANT_NM AS sellerCompany,
               STD_DT
        FROM TB_ADM_ITEM_SALES
        WHERE
        <if test="productName != null and productName != ''">
            ITEMSALES_NM LIKE '%' || #{productName} || '%' AND
        </if>
        STD_DT BETWEEN #{startDate} AND #{endDate}
        ORDER BY STD_DT DESC
    </select>
</mapper>