<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.product.mapper.ProductStatsDailyMapper">
    <select id="getProductDayStats" parameterType="map" resultType="com.example.admin.product.dto.ProductStatsDaily">
        SELECT
            YEAR || '-' || MONTH || '-' || DAY AS statDay,
            MERCHANTNAME AS sellerName,
            ITEMNAME AS productName,
            SUM_ITEM_PRICE,
            SUM_TAX,
            SUM_TOTAL
            FROM TB_ITEM_STATS_DAILY
        WHERE YEAR = #{year}
            AND MONTH = #{month}
            AND DAY = #{day}
    </select>
</mapper>