<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.product.mapper.ProductStatsMonthlyMapper">
    <select id="getProductMonthStats" parameterType="map" resultType="com.example.admin.product.dto.ProductStatsMonthly">
        SELECT
            "YEAR",
            "MONTH",
            MERCHANTNAME AS sellerName,
            ITEMNAME AS productName,
            SUM_ITEM_PRICE,
            SUM_TAX,
            SUM_TOTAL
        FROM TB_ITEM_STATS_MONTHLY
        WHERE 1 = 1
        <if test="year != null">
            AND "YEAR" = #{year}
        </if>
        <if test="month != null">
            AND "MONTH" = #{month}
        </if>
    </select>
</mapper>