<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.product.mapper.ProductStatsDailyMapper">
    <select id="getProductDayStats" parameterType="map" resultType="com.example.admin.product.dto.ProductStatsDaily">
        SELECT
            YEAR || '-' || MONTH || '-' || DAY AS statDay,
            MERCHANTNAME AS sellerName,
            ITEMNAME AS productName,
            SUM(SUM_ITEM_PRICE) AS sumProductPrice,
            SUM(SUM_TAX) AS sumTax,
            SUM(SUM_TOTAL) AS sumTotal
            FROM TB_ITEM_STATS_DAILY
        WHERE YEAR = #{year}
            AND MONTH = #{month}
            AND DAY = #{day}
        GROUP BY YEAR || '-' || MONTH || '-' || DAY, MERCHANTNAME, ITEMNAME
    </select>
</mapper>