<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.product.mapper.ProductStatsMonthlyMapper">
    <insert id="insertProductStatMonthly" parameterType="com.example.admin.product.dto.ProductStatsMonthly">
        INSERT INTO TB_PRODUCT_STATS_MONTHLY(YEAR, MONTH, SELLER_NAME, PRODUCT_NAME, SUM_PRODUCT_PRICE, SUM_TAX, SUM_TOTAL)
        VALUES (#{year}, #{month}, #{sellerName}, #{productName}, #{sumProductPrice}, #{sumTax}, #{sumTotal})
    </insert>

    <select id="getProductMonthStats" parameterType="map" resultType="com.example.admin.product.dto.ProductStatsMonthly">
        SELECT * FROM TB_PRODUCT_STATS_MONTHLY
        WHERE 1 = 1
        <if test="sellerName != null and sellerName != ''">
            AND SELLER_NAME LIKE CONCAT('%', #{sellerName}, '%')
        </if>
        <if test="productName != null and productName != ''">
            AND PRODUCT_NAME LIKE CONCAT('%', #{productName}, '%')
        </if>
        <if test="year != null">
            AND YEAR = #{year}
        </if>
    </select>
</mapper>