<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.event.mapper.EventMapper">
    <insert id="insertEvent" parameterType="com.example.admin.event.dto.InsertEventDto">
        INSERT INTO TB_EVENT_INFO(EVT_SEQ, EVT_NAME, EVT_FILE_NM, EVT_URL, REG_DT, REG_ID)
        VALUES (TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISSFF3'), #{eventName}, #{fileName}, #{url}, SYSDATE, #{regId})
    </insert>

    <select id="getEventList" parameterType="map" resultType="com.example.admin.event.dto.Event">
        SELECT * FROM TB_EVENT_INFO
        WHERE 1 = 1
        <if test="eventName != null and eventName != ''">
            AND EVT_NAME LIKE '%' || #{eventName} || '%'
        </if>
        ORDER BY TO_DATE(REG_DT, '%Y-%m-%d') DESC
    </select>

    <delete id="deleteEvent" parameterType="java.util.List">
        DELETE FROM TB_EVENT_INFO
        WHERE EVT_NAME IN
        <foreach item="eventName" collection="eventNames" open="(" separator="," close=")">
            #{eventName}
        </foreach>
    </delete>
    
    <update id="updateEvent" parameterType="com.example.admin.event.dto.UpdateEventDto">
        UPDATE TB_EVENT_INFO
        SET <if test="eventName != null and eventName != ''">
            EVT_NAME = #{eventName}
            </if>
        AND UPD_DT = SYSDATE
        AND UPD_ID = #{updId}
    </update>
</mapper>