<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.refund.mapper.RefundMapper">
    <insert id="insertManualRefund" parameterType="com.example.admin.refund.dto.ManualRefund">
        INSERT INTO TB_MANUAL_REFUND (AUTH_TRANSACTION_ID, CORRELATION_ID, CTN, ITEM_NAME, MERCHANT_NAME, PAYMENT_DESCRIPTION,
                                      MERCHANT_CONTACT, TOTAL, ITEM_PRICE, TAX, SUB_NO, ACE_NO, BAN, UNIT_MDL, FEE_TYPE, TRANSACTION_TYPE,
                                      TRANSACTION_DT, REFUND_DT, CREATE_DT)
        VALUES (#{authTransactionId}, #{correlationId}, #{ctn}, #{itemName}, #{merchantName}, #{paymentDescription},
                #{merchantContact}, #{total}, #{itemPrice}, #{tax}, #{subNo}, #{aceNo}, #{ban}, #{unitMdl}, #{feeType},
                #{transactionType}, #{transactionDt}, #{refundDt}, SYSDATE)
    </insert>

    <insert id="insertManualRefundFileInfo" parameterType="com.example.admin.refund.dto.ManualRefundFileInfo">
        INSERT INTO TB_MANUAL_REFUND_FILE_INFO (REQUEST_NAME, RESPONSE_NAME, RETRY, UPDATE_DT, CREATE_DT)
        VALUES (#{requestName}, #{responseName}, #{retry}, #{updateDt}, SYSDATE)
    </insert>

    <insert id="insertEai" parameterType="com.example.admin.refund.dto.vo.LgudcbEaiSdw">
        INSERT INTO TB_LGUDCB_EAI_SDW(CMD,NEW_CORRELATIONID,NEW_ACCOUNT_TYPE,NEW_SMLS_STLM_DV_CD,NEW_SMLS_STLM_CMPNY_CD,NEW_BAN,NEW_ACE_NO
                                     ,NEW_PRSS_YYMM,NEW_REQUEST_TYPE,NEW_ITEMPRICE,NEW_TAX,NEW_TOTAL,NEW_AUTH_DATE,NEW_TRANSACTION_DATE,NEW_MERCHANTNAME
                                     ,NEW_ITEMNAME,NEW_MERCHANTCONTACT,NEW_PROD_NO)
        VALUES ('insert', #{newCorrelationId}, #{newAccountType}, #{newSmlsStlmDvCd}, #{newSmlsStlmCmpnyCd}, NVL(#{newBan}, 0), NVL(#{newAceNo}, 0), #{newPrssYymm}, #{newRequestType}, NVL(#{newItemPrice}, 0), NVL(#{newTax}, 0),
                NVL(#{newTotal}, 0), NVL(TO_DATE(#{newAuthDate}, 'YYYYMMDDHH24MISS'), SYSDATE), NVL(TO_DATE(#{newTransactionDate}, 'YYYYMMDDHH24MISS'), SYSDATE), NVL(#{newMerchantName}, 'NULL'), NVL(#{newItemName}, 'NULL'), NVL(#{newMerchantContact}, 'NULL'), #{newProdNo})
    </insert>

    <select id="getAuthInfo" parameterType="map" resultType="com.example.admin.auth.dto.AuthInfo">
        SELECT * FROM TB_AUTH_INFO
        WHERE CORRELATION_ID = #{correlationId}
        AND BILLING_AGREEMENT = #{billingAgreement}
        ORDER BY AUTH_TRANSACTION_ID;
    </select>

    <select id="selectManualRefundByCorrelationId" parameterType="String" resultType="com.example.admin.refund.dto.ManualRefund">
        SELECT * FROM TB_MANUAL_REFUND
        WHERE CORRELATION_ID = #{correlationId}
    </select>

    <update id="updateRefundAuth" parameterType="map">
        UPDATE TB_MANUAL_REFUND
        SET TRANSACTION_TYPE = #{transactionType}
          , REFUND_DT = SYSDATE
        WHERE CORRELATION_ID = #{correlationId}
    </update>

    <select id="selectBillingFileInfo" parameterType="String" resultType="com.example.admin.refund.dto.ManualRefundFileInfo">
        SELECT * FROM TB_MANUAL_REFUND_FILE_INFO
        WHERE REQUEST_NAME = #{requestName}
    </select>

    <update id="updateRefundFileInfo" parameterType="map">
        UPDATE TB_MANUAL_REFUND_FILE_INFO
        SET RETRY = #{retry}
          , UPDATE_DT = SYSDATE
        WHERE REQUEST_NAME = #{requestName}
    </update>
</mapper>