<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.stats_month.mapper.StatsMonthMapper">
    <select id="getStatsMonthList" parameterType="map" resultMap="monthPaymentResultMap">
        SELECT
            TO_CHAR(STAT_DAY, 'YYYY-MM') AS stat_month,
            SUM(B_STAT) AS b_stat,
            SUM(D_STAT) AS d_stat,
            SUM(F_STAT) AS f_stat,
            SUM(I_STAT) AS i_stat,
            SUM(K_STAT) AS k_stat,
            SUM(M_STAT) AS m_stat
        FROM TB_STATS_DAY
        WHERE TO_CHAR(STAT_DAY, 'YYYY-MM') = #{date}
        GROUP BY TO_CHAR(STAT_DAY, 'YYYY-MM')
    </select>

    <resultMap id="monthPaymentResultMap" type="com.example.admin.stats_month.dto.StatsMonth">
        <result column="STAT_MONTH" property="stat_month"/>
        <result column="A_STAT" property="a_stat"/>
        <result column="B_STAT" property="b_stat"/>
        <result column="C_STAT" property="c_stat"/>
        <result column="D_STAT" property="d_stat"/>
        <result column="E_STAT" property="e_stat"/>
        <result column="F_STAT" property="f_stat"/>
        <result column="G_STAT" property="g_stat"/>
        <result column="H_STAT" property="h_stat"/>
        <result column="I_STAT" property="i_stat"/>
        <result column="J_STAT" property="j_stat"/>
        <result column="K_STAT" property="k_stat"/>
        <result column="L_STAT" property="l_stat"/>
        <result column="M_STAT" property="m_stat"/>
        <result column="N_STAT" property="n_stat"/>
        <result column="P_STAT" property="p_stat"/>
        <result column="R_STAT" property="r_stat"/>
        <result column="T_STAT" property="t_stat"/>
    </resultMap>
</mapper>