<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.repository.mapper.range.RangeDayMapper">
    <insert id="insertRangeDay">
        INSERT INTO TB_STATS_RANGE_DAY(STAT_DAY, A_STAT, B_STAT, C_STAT, D_STAT, E_STAT, F_STAT, G_STAT, DCB)

        VALUES (#{stat_day}, #{a_stat}, #{b_stat}, #{c_stat}, #{d_stat}, #{e_stat}, #{f_stat}, #{g_stat}, #{dcb})
    </insert>

    <select id="getRangeDayList" parameterType="map" resultMap="rangeDayMap">
        SELECT * FROM TB_STATS_RANGE_DAY
        WHERE 1 = 1
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND STAT_DAY BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="dcb != null and dcb != ''">
            AND DCB = #{dcb}
        </if>
    </select>

    <select id="getRangeDayScheduleList" parameterType="map" resultMap="rangeDayMap">
        SELECT * FROM TB_STATS_RANGE_DAY
        WHERE 1 = 1
        <if test="day != null and day != ''">
            AND STAT_DAY = #{day}
        </if>
        <if test="dcb != null and dcb != ''">
            AND DCB = #{dcb}
        </if>
    </select>

    <resultMap id="rangeDayMap" type="com.example.admin.domain.entity.range.RangeDay">
        <result column="STAT_DAY" property="stat_day"/>
        <result column="A_STAT" property="a_stat"/>
        <result column="B_STAT" property="b_stat"/>
        <result column="C_STAT" property="c_stat"/>
        <result column="D_STAT" property="d_stat"/>
        <result column="E_STAT" property="e_stat"/>
        <result column="F_STAT" property="f_stat"/>
        <result column="G_STAT" property="g_stat"/>
    </resultMap>
</mapper>