<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.range_day.mapper.RangeDayMapper">
    <select id="getRangeDay" parameterType="com.example.admin.range_day.dto.GetRangeDayDto" resultMap="rangeDayMap">
        SELECT
            TO_CHAR(CREATE_DT, 'YYYY-MM-DD') AS stat_day,
            (CASE
                WHEN AMOUNT BETWEEN 0 AND 100000 THEN '1'
                WHEN AMOUNT BETWEEN 100000 AND 200000 THEN '2'
                WHEN AMOUNT BETWEEN 200000 AND 300000 THEN '3'
                WHEN AMOUNT BETWEEN 300000 AND 400000 THEN '4'
                WHEN AMOUNT BETWEEN 400000 AND 500000 THEN '5'
                ELSE 'O'
            END) AS a_stat,
            COUNT(DISTINCT CTN) AS b_stat,
            COUNT(*) AS c_stat,
            SUM(CASE WHEN API_TYPE = 'B' THEN AMOUNT ELSE 0 END) AS d_stat,
            SUM(CASE WHEN API_TYPE = 'C' OR API_TYPE = 'R' THEN AMOUNT ELSE 0 END) AS e_stat,
            SUM(CASE
            WHEN API_TYPE = 'B' THEN AMOUNT
            WHEN API_TYPE = 'C' OR API_TYPE = 'R' THEN -AMOUNT ELSE 0 END) AS f_stat,
            (CASE WHEN COUNT(DISTINCT CTN) > 0 THEN
            SUM(CASE WHEN API_TYPE = 'B' THEN AMOUNT ELSE 0 END) / COUNT(DISTINCT CTN)
            ELSE 0 END) AS g_stat
            FROM TB_API_LOGS
            WHERE TO_CHAR(CREATE_DT, 'YYYY-MM-DD') = #{date}
            GROUP BY TO_CHAR(CREATE_DT, 'YYYY-MM-DD'),
                     CASE
                         WHEN AMOUNT BETWEEN 0 AND 100000 THEN '1'
                         WHEN AMOUNT BETWEEN 100000 AND 200000 THEN '2'
                         WHEN AMOUNT BETWEEN 200000 AND 300000 THEN '3'
                         WHEN AMOUNT BETWEEN 300000 AND 400000 THEN '4'
                         WHEN AMOUNT BETWEEN 400000 AND 500000 THEN '5'
                         ELSE 'O'
                         END
    </select>

    <resultMap id="rangeDayMap" type="com.example.admin.range_day.dto.RangeDay">
        <result column="STAT_DAY" property="stat_day"/>
        <result column="A_STAT" property="a_stat"/>
        <result column="B_STAT" property="b_stat"/>
        <result column="C_STAT" property="c_stat"/>
        <result column="D_STAT" property="d_stat"/>
        <result column="E_STAT" property="e_stat"/>
        <result column="F_STAT" property="f_stat"/>
        <result column="G_STAT" property="g_stat"/>
    </resultMap>
</mapper>