<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.repository.mapper.payment.PayDetailMapper">
    <select id="getPayDetailsByProductName" parameterType="map" resultType="com.example.admin.domain.dto.payment.PayDetailDto">
        SELECT CTN, PURCHASE_DT, CANCEL_DATE, PRICE, PAYMENT_TYPE, PRODUCT_NAME, COMPANY, MERCHANT_NAME
        FROM TB_SDCB_PURCHASE_INFO
        WHERE PAYMENT_TYPE = #{paymentType}
            <if test="productName != null and productName != ''">
                <foreach collection="list" item="productName" open="(" separator="OR" close=")">
                    AND PRODUCT_NAME LIKE CONCAT('%', #{productName}, '%')
                </foreach>
            </if>
            AND STR_TO_DATE(PURCHASE_DATE, '%Y-%m-%d')
                  BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d')
                  AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
    </select>

    <select id="getPayDetailsByCtn" parameterType="map" resultType="com.example.admin.domain.dto.payment.PayDetailDto">
        SELECT CTN, PURCHASE_DATE, CANCEL_DATE, PRICE, PAYMENT_TYPE, PRODUCT_NAME, COMPANY, MERCHANT_NAME
        FROM TB_SDCB_PURCHASE_INFO
        WHERE PAYMENT_TYPE = #{paymentType}
        <if test="ctn != null and ctn != ''">
          <foreach collection="list" item="ctn" open="(" separator="OR" close=")">
              AND CTN LIKE CONCAT('%', #{ctn}, '%')
          </foreach>
        </if>
        AND STR_TO_DATE(PURCHASE_DATE, '%Y-%m-%d')
        BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
    </select>

    <select id="getPayDetailsByCompany" parameterType="map" resultType="com.example.admin.domain.dto.payment.PayDetailDto">
        SELECT CTN, PURCHASE_DATE, CANCEL_DATE, PRICE, PAYMENT_TYPE, PRODUCT_NAME, COMPANY, MERCHANT_NAME
        FROM TB_SDCB_PURCHASE_INFO
        WHERE PAYMENT_TYPE = #{paymentType}
        <if test="company != null and company != ''">
            <foreach collection="list" item="company" open="(" separator="OR" close=")">
                AND COMPANY LIKE CONCAT('%', #{company}, '%')
            </foreach>
        </if>
        AND STR_TO_DATE(PURCHASE_DATE, '%Y-%m-%d')
        BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        AND STR_TO_DATE(#{endDate}, '%Y-%m-%d')
    </select>
    
    <select id="selectPaymentDetail" parameterType="map" resultType="com.example.admin.domain.dto.payment.PayDetailDto">
        SELECT C.CTN, C.PURCHASE_DT AS purchaseDate, C.CANCEL_DT AS cancelDate, A.PAYMENT_AMT AS price, C.PAYMENT_NAME, B.PRODUCT_NAME, B.SELLER_COMPANY, B.SELLER_NAME
        FROM TB_NOTI_PURCHASE_TYPE A
        LEFT OUTER JOIN TB_NOTI_PURCHASE_PRODUCT B ON (A.PARTITION_ID = B.PARTITION_ID AND A.REQUEST_ID = B.REQUEST_ID)
        LEFT OUTER JOIN TB_NOTI_PURCHASE C ON (A.PARTITION_ID = C.PARTITION_ID AND A.REQUEST_ID = C.REQUEST_ID)
    </select>
</mapper>
