<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.testphone.mapper.TestPhoneMapper">
    <insert id="insertTestPhone" parameterType="com.example.admin.testphone.dto.InsertTestPhoneDto">
        INSERT INTO TB_ENROLLMENT_PHONE(CTN, REG_ID)
        VALUES (#{ctn}, #{regId})
    </insert>

    <select id="existsCtn" parameterType="String" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END AS IS_DUPLICATE
        FROM TB_ENROLLMENT_PHONE
        WHERE CTN = #{ctn}
    </select>

    <select id="getAllTestPhone" resultType="com.example.admin.testphone.dto.TestPhone">
        SELECT *
        FROM TB_ENROLLMENT_PHONE
        ORDER BY REG_DT
    </select>

    <delete id="deleteCtn" parameterType="String">
        DELETE FROM TB_ENROLLMENT_PHONE
        WHERE CTN = #{ctn}
    </delete>
</mapper>