<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.testphone.mapper.TestPhoneMapper">
    <insert id="insertTestPhone" parameterType="com.example.admin.testphone.dto.TestPhone">
        INSERT INTO TB_ENROLLMENT_PHONE(CTN, REG_DT, MBR_ID, NAME, EMAIL)
        VALUES (#{ctn}, #{regDt}, #{mbrId}, #{name}, #{email})
    </insert>

    <select id="existsCtn" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM TB_ENROLLMENT_PHONE
        WHERE CTN = #{ctn}
    </select>

    <select id="getAllTestPhone" parameterType="map" resultType="com.example.admin.testphone.dto.TestPhone">
        SELECT *
        FROM TB_ENROLLMENT_PHONE
        <if test="keyword != null and keyword != ''">
        WHERE CTN LIKE CONCAT('%', #{ctn}, '%')
        </if>
        ORDER BY REG_DT
    </select>

    <select id="countCtn" resultType="integer">
        SELECT COUNT(*)
        FROM TB_ENROLLMENT_PHONE
    </select>

    <delete id="deleteCtn" parameterType="String">
        DELETE FROM TB_ENROLLMENT_PHONE
        WHERE CTN = #{ctn}
    </delete>
</mapper>