<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.payment_attempt_history.mapper.PaymentAttemptHistoryMapper">
    <select id="getPaymentAttemptHistoryList" parameterType="map" resultType="com.example.admin.payment_attempt_history.dto.PaymentAttemptHistory">
        SELECT
        CTN,
        CREATE_DT,
        ITEM_NAME AS productName
        AMOUNT,
        RESULT_CODE
        FROM TB_API_LOGS
        WHERE 1 = 1
        <if test="ctn != null and ctn != ''">
            AND CTN = #{ctn}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND CREATE_DT BETWEEN CONCAT(#{startDate}, ' 00:00:00') AND CONCAT(#{endDate}, ' 23:59:59')
        </if>
        ORDER BY CREATE_DT
    </select>
</mapper>