<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.payment_history.mapper.PaymentHistoryMapper">
    <select id="getPaymentHistoryList" parameterType="map" resultType="com.example.admin.payment_history.dto.PaymentHistory">
        SELECT
        CTN,
        TRANSACTION_DT,
        CANCEL_NOTIFICATION_DT,
        TOTAL,
        ITEMNAME,
        MERCHANTNAME
        FROM TB_AUTH_INFO
        WHERE 1 = 1
        <if test="ctn != null and ctn != ''">
            AND CTN = #{ctn}
        </if>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND TRANSACTION_DT BETWEEN TO_DATE(#{startDate}, 'YYYYMMDDHH24MISS') AND TO_DATE(#{endDate}, 'YYYYMMDDHH24MISS')
        </if>
        ORDER BY TRANSACTION_DT
    </select>
</mapper>