<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.admin.payment_history.mapper.PaymentHistoryMapper">
    <select id="getPaymentHistoryList" parameterType="map" resultType="com.example.admin.payment_history.dto.PaymentHistory">
        SELECT
        CTN,
        TO_CHAR(TRANSACTION_DT, 'YYYY-MM-DD HH24:MI:SS') AS transactionDt,
        TO_CHAR(CANCEL_NOTIFICATION_DT, 'YYYY-MM-DD HH24:MI:SS') AS cancelNotificationDt,
        TOTAL,
        ITEMNAME,
        MERCHANTNAME
        FROM TB_AUTH_INFO
        WHERE CTN = ${ctn}
        AND TRANSACTION_DT BETWEEN TO_DATE(#{startDate}, 'YYYYMMDDHH24MISS') AND TO_DATE(#{endDate}, 'YYYYMMDDHH24MISS')
        ORDER BY TRANSACTION_DT
    </select>
</mapper>