<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.admin.repository.mapper.reconcile.gdcb.ReconcileMapper">
    <select id="selectBuyInvoice" parameterType="map" resultType="com.example.admin.domain.dto.reconcile.gdcb.GDCBMonthlyInvoiceSum">
        SELECT
        REVS_CATEGORY,
        SUM(CNT) AS transactionCnt,
        SUM(ITEM_PRICE_SUM) AS itemPriceSum,
        SUM(TAX_SUM) AS taxSum,
        SUM(TOTAL_AMOUNT_SUM) AS totalAmountSum
        FROM TB_GDCB_MONTHLY_INVOICE_SUM
        WHERE 1 = 1
        <if test="paymentType != null and paymentType != ''">
            AND PAYMENT_TYPE = #{paymentType}
        </if>
        <if test="year != null and year != ''">
            AND YEAR = #{year}
        </if>
        <if test="month != null and month != ''">
            AND MONTH = #{month}
        </if>
        AND TRANSACTION_TYPE = 'B'
        GROUP BY REVS_CATEGORY
    </select>

    <select id="selectRefundInvoice" parameterType="map" resultType="com.example.admin.domain.dto.reconcile.gdcb.GDCBMonthlyInvoiceSum">
        SELECT
        REVS_CATEGORY,
        SUM(CNT) AS transactionCnt,
        SUM(ITEM_PRICE_SUM) AS itemPriceSum,
        SUM(TAX_SUM) AS taxSum,
        SUM(TOTAL_AMOUNT_SUM) AS totalAmountSum
        FROM TB_GDCB_MONTHLY_INVOICE_SUM
        WHERE 1 = 1
        <if test="paymentType != null and paymentType != ''">
            AND PAYMENT_TYPE = #{paymentType}
        </if>
        <if test="year != null and year != ''">
            AND YEAR = #{year}
        </if>
        <if test="month != null and month != ''">
            AND MONTH = #{month}
        </if>
        AND TRANSACTION_TYPE = 'R'
        GROUP BY REVS_CATEGORY
    </select>
</mapper>